.register-form {
  margin: auto;
  width: 100%;
  text-align: center;
}

.inputsR {
  width: 100%;
}

.submit-buttonR {
  display: block;
  margin: auto;
}

.kartaR {
  width: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: auto;
}

.kontenerR {
}
