<div class="kontenerR">
  <md-card class="kartaR">
    <div class="register-form">

      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Register</md-card-title>
        <md-card-subtitle>It is so simple</md-card-subtitle>
      </md-card-header>

      <md-card-content>
        <form (submit)="register();">
          <div>
            <md-input-container class="inputsR">
              <input mdInput placeholder="Name" name="name" id="name" [(ngModel)]="name">
            </md-input-container>
          </div>
          <div>
            <md-input-container class="inputsR">
              <input mdInput placeholder="Password" type="password" name="password" id="password" [(ngModel)]="password">
            </md-input-container>
          </div>
          <div class="submit-buttonR">
            <button md-button type="submit">Register</button>
          </div>
          <p class="error" *ngIf="error">{{error}}</p>
        </form>
      </md-card-content>
    </div>
  </md-card>

</div>
