<div>
  <md-card class="card">
    <div class="login-form">

      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Login</md-card-title>
        <md-card-subtitle>Ready to go</md-card-subtitle>
      </md-card-header>

      <md-card-content>
        <form (submit)="login()">
          <div>
            <md-input-container class="inputs">
              <input mdInput placeholder="Name" name="name" id="name" [(ngModel)]="name">
            </md-input-container>
          </div>
          <div>
            <md-input-container class="inputs">
              <input mdInput placeholder="Password" type="password" name="password" id="password"
                     [(ngModel)]="password">
            </md-input-container>
          </div>
          <div class="submit-button">
            <button md-button type="submit">Login</button>
          </div>
          <p class="error" *ngIf="error">{{error}}</p>
        </form>
      </md-card-content>

    </div>
  </md-card>

</div>
