.login-form {
  margin: auto;
  width: 100%;
  text-align: center;
}

.inputs {
  width: 100%;
}

.submit-button {
  display: block;
  margin: auto;
}

.card {
  width: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: auto;
}
