<div class="container">


      <div class="cards" >
        <div *ngFor="let item of sources.sources" class="single-card">

          <md-card >
            <md-card-header>
              <div md-card-avatar class="example-header-image" ></div>
              <md-card-title>
                <a [routerLink]="['/articles', item.id]">
                  <p (click)="getSource(item.id)" class="link">{{item.name}}</p>
                </a>
              </md-card-title>
              <md-card-subtitle>{{item.category}}</md-card-subtitle>
            </md-card-header>
            <img class="image-style" md-card-image [src]="'../../assets/img/' + item.id + '.png'">
            <md-card-content class="content-style">
              <p>
                {{item.description}}
              </p>
            </md-card-content>
            <md-card-actions>
            </md-card-actions>
          </md-card>


        </div>
      </div>




</div>
