.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('../../../assets/img/news.png');
  background-size: cover;
}

.cards {
  max-width: 400px;
  margin: auto;
}

.image-style {
  padding-left: 30px;
  padding-right: 30px;
  height: 200px;
}

.content-style {
  padding-left: 15px;
  padding-right: 15px;
}

.single-card {
  padding: 20px;
}

.link {
  text-align: center;
}
