.article {
  width: 100%;
  max-width: 400px;
  margin: auto;

}

.example-header-image {
  background-image: url('../../../assets/img/bbc-sport.png');
  background-size: cover;
  margin-bottom: 10px;
}

.card-footer {
  text-align: center;
  margin: 15px;
}

.single-card {
  padding: 20px;
}

.card-title {
  text-align: center;
}

.photo {
  height: auto;
}

.cards {
}
