<div class="article">


  <div class="cards">
    <div *ngFor="let item of articles.articles" class="single-card">

      <md-card class="example-card">
        <md-card-header>
          <md-card-title class="card-title">
            <a href="{{item.url}}">
              <p (click)="getSource(item.id)">{{item.title}}</p>
            </a>
          </md-card-title>
          <md-card-subtitle>{{item.category}}</md-card-subtitle>
        </md-card-header>

        <img md-card-image src="{{item.urlToImage}}" class="photo">
        <md-card-content>
          <p>
            {{item.description}}
          </p>
        </md-card-content>
        <md-card-footer>
          <p class="pull-right card-footer">{{item.publishedAt}}</p>
        </md-card-footer>
      </md-card>

    </div>
  </div>


</div>
