.example-header-image {
  background-image: url('../../../assets/img/news.png');
  background-size: cover;
}

.cards {
  max-width: 400px;
  margin: auto;
}


.material-icons.orange600 {
  color: #E91E63;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}
.container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  text-align: center;
  padding: 20px;
}

.icon-style {
  text-align: center;
  padding-bottom: 20px;
}

.single-card {
  padding: 20px;
}

.link {
  text-align: center;
}

.photo {
  padding-left: 10px;
  padding-right: 10px;
  height: 250px;
}

.icon-name {
  text-align: center;
}
