<md-sidenav-container class="container">
  <md-sidenav #sidenav class="sidenav">
    <h3>Your Categories: </h3>
    <div *ngFor="let item of usersCategories" (click)="getSource(item)">
      {{item }}
    </div>
  </md-sidenav>

  <div class="sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open Categories list
    </button>
  </div>
</md-sidenav-container>


<div  class="icon-style" >
  <h3  class="lead icon-name">Add Category</h3>
  <i class="material-icons orange600 md-36" (click)="openDialog()"  >add_circle</i>
</div>


<div class="container" *ngIf="sources != null">

    <div class=" cards">
      <div class="" >
        <div *ngFor="let item of sources.sources" class="single-card">

          <md-card >
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>
                <a [routerLink]="['/articles', item.id]">
                  <p (click)="getSource(item.id)" class="link">{{item.name}}</p>
                </a>
              </md-card-title>
              <md-card-subtitle>{{item.category}}</md-card-subtitle>
            </md-card-header>
            <img class="photo" md-card-image [src]="'../../assets/img/' + item.id + '.png'">
            <md-card-content>
              <p>
                {{item.description}}
              </p>
            </md-card-content>
            <md-card-actions>
            </md-card-actions>
          </md-card>


        </div>
      </div>
    </div>

</div>

