<nav md-tab-nav-bar aria-label="weather navigation links">
  <div class="linki" *ngFor="let routeLink of routeLinks; let i = index;">
    <a md-tab-link
       *ngIf="routeLink.logged !== authGuard.canActivate()"
       [routerLink]="routeLink.link"
       [active]="activeLinkIndex === i"
       (click)="activeLinkIndex = i">
      {{routeLink.label}}
    </a>

  </div>
  <div *ngIf="authGuard.canActivate() === true">
    <a md-tab-link (click)="openDialog()">Logout</a>

  </div>
</nav>


<router-outlet></router-outlet>

<div class="restore-layout"></div>
