.login {
  float: right;
}

.restore-layout {
  clear: both;
}

.linki {
  float: left;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

button:link {
  text-decoration: none;
}

button:visited {
  text-decoration: none;
}

