<div class="title">
  <h2 md-dialog-title>Are you sure?</h2>
</div>
<md-dialog-actions>
  <button md-button md-dialog-close >No</button>
  <button md-button [md-dialog-close]="true" (click)="logout()">Yes</button>
</md-dialog-actions>
