<md-card style="text-align: center"  >
  <md-card-title>Dodaj kategorie</md-card-title>
  <md-card-content style="padding: 20px;">
    <md-select placeholder="Category">
      <md-option *ngFor="let item of categoryList" [value]="item" (click)="addCategory(item)" >
        {{item}}
      </md-option>
    </md-select>
  </md-card-content>
  <md-card-actions>
  </md-card-actions>
</md-card>
